<template>
 
  <div class="vue-sound-wrapper columns">
    <div @click="pause()" title="Play" class="column is-narrow play-pause">

      <svg v-if="paused" width="32" height="32" viewBox="0 0 16 16">
        <path fill="#000000" d="M8 0c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zM8 14.5c-3.59 0-6.5-2.91-6.5-6.5s2.91-6.5 6.5-6.5 6.5 2.91 6.5 6.5-2.91 6.5-6.5 6.5zM6 4.5l6 3.5-6 3.5z"></path>
      </svg>

      <svg v-if="!paused" width="32" height="32" viewBox="0 0 16 16">
        <path fill="#000000" d="M8 0c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zM8 14.5c-3.59 0-6.5-2.91-6.5-6.5s2.91-6.5 6.5-6.5 6.5 2.91 6.5 6.5-2.91 6.5-6.5 6.5zM5 5h2v6h-2zM9 5h2v6h-2z"></path>
      </svg>

    </div>

    <div class="column playback-container" title="Time played : Total time">
      <div class="columns">
        <div class="playback-time-current column is-narrow">{{ currentTime }}</div>
        <div class="playback-scale column" v-on:click="setPosition">
          <div v-bind:style="progressStyle" class="playback-time-indicator"></div>
        </div>
        <div class="playback-time-total column is-narrow">{{ duration }}</div>
      </div>
    </div>

    <audio v-bind:id="playerId" :loop="innerLoop" ref="audiofile" :src="file" preload="auto" style="display:none;"></audio>
  </div>

</template>

<script src="./vueaudio.plugin.js"></script>

<style lang="scss" scoped>
$prefixCls: "vue-sound";
.#{$prefixCls}-wrapper {
  .#{$prefixCls}__player {
    height: 30px;
    line-height: 30px;

    a {
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
    }

    .#{$prefixCls}__extern-wrapper {
      display: inline-block;
      margin-left: 10px;

      > a {
        margin-right: 5px;
        vertical-align: 0;
      }

      .volume-toggle {
        position: relative;

        .volume-slider {
          cursor: pointer;
          position: absolute;
          top: 0;
          width: 80px;
          left: 24px;
        }
      }
    }

    .#{$prefixCls}__playback-time-wrapper {
      background: transparent;
      position: relative;
      display: inline-block;
      height: 3px;
      cursor: pointer;
      font-size: 14px;
      vertical-align: middle;

      .#{$prefixCls}__playback-time-separator::after {
        content: " | ";
      }

      .#{$prefixCls}__playback-time-total {
      }

      .#{$prefixCls}__playback-time-indicator {
        background: #5099ff;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
      }
    }
  }
}
</style>
