<template>

  <main 
    class="site-content post-archive" 
    v-if="posts && posts.length && page != ''" 
    :key="currentPage" 
    v-bind:class="[
      { ready: loadingImage },
    { 'has-hero': ( page.include_hero && firstPage ) }
    ]"
  >

    <template v-if="page.include_hero == true && firstPage">
      <div class="hero main-hero" v-bind:class="[ page.hero.height,page.hero.h_alignment ]" v-bind:style="{ 'background-color': page.hero.background }">
        <div class="hero-body">
          <div class="container">
            <h1 class="title is-1" v-bind:style="{ 'color': page.hero.title_color }" v-html="page.hero.title"></h1>
            <h2 class="subtitle is-3" v-bind:style="{ 'color': page.hero.subtitle_color }"  v-html="page.hero.subtitle"></h2>
          </div>
        </div>

        <div v-if="page.hero.type == 'video'" class="video-hero">
          <video autoplay loop mute :poster="page.hero.image">
            <source :src="page.hero.mp4" type="video/mp4">
            <source :src="page.hero.webm" type="video/webm">
          </video>
        </div>

        <img
          v-on:load="displayImage" 
          :src="page.hero.image"
          class="hero-background"
          v-bind:style="{ 
            transform: 'scale('+heroZoom+')' 
          }"
        />
        <div class="hero-overlay" v-bind:style="{ opacity: page.hero.opacity, backgroundColor: page.hero.overlay }"></div>
      </div>
    </template>
    <div v-if="firstPage" class="archive-intro container default-content">
      <img
        v-if="page.featured_image_url && !page.include_hero"
        v-on:load="displayImage" 
        v-on:error="loadError"
        v-bind:class="{ 'is-invisible': imageError }"
        class="featured-image-default" 
        v-bind:src="page.featured_image_url"
        alt="" />
      <h1 class="title is-1 is-uppdercase is-bold" v-if="!page.include_hero" v-html="page.title.rendered"></h1>
      <div class="taxonomy-description" v-html="page.content.rendered"></div>
    </div>

    <div class="post-list default-content container">
      <post-item v-for="post of posts" :post="post" :key="post.id"></post-item>
    </div>

    <pagination :firstPage="firstPage" :lastPage="lastPage" :type="'blog'" :currentPage="currentPage" :nextPage="nextPage" :totalPages="totalPages" :prevPage="prevPage"></pagination>

  </main>
    
</template>
<script>
import { HTTP } from "./../../environment";

export default {
  name: "Archive",

  data() {
    return {
      page: {},
      posts: {},
      loadingImage: (Boolean = false),
      imageError: (Boolean = false),
      totalPages: "",
      currentPage: "",
      nextPage: "",
      prevPage: "",
      lastPage: "",
      heroZoom: 1
    };
  },
  created() {
    this.fetchData();
    window.addEventListener("scroll", this.handleScroll);
  },

  watch: {
    $route: "fetchData"
  },
  destroyed: function() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  methods: {
    fetchData() {
      this.$store.commit("imageNotReady");
      HTTP.get("wp-json/wp/v2/pages?slug=blog")
        .then(resp => {
          this.page = resp.data[0];
          if (this.page.featured_image_url == null) {
            this.loadingImage = true;
            this.$store.commit("imageReady");
          }
        })
        .catch(err => {
          console.log(err);
        });
      HTTP.get("wp-json/wp/v2/posts?page=" + this.$route.params.id) // in this case the slug is the number of the page in our archive
        .then(resp => {
          this.posts = resp.data;
          this.totalPages = resp["headers"]["x-wp-totalpages"];

          this.currentPage = this.$route.params.id;

          if (this.currentPage == 1) {
            document.title = "Our Blog";
          } else {
            document.title = "Blog Page " + this.currentPage;
          }

          if (this.currentPage == this.totalPages) {
            this.lastPage = true;
          } else {
            this.lastPage = false;
          }

          if (this.currentPage == 1) {
            this.firstPage = true;
          } else {
            this.firstPage = false;
          }

          this.nextPage = parseInt(this.currentPage) + 1;
          this.prevPage = parseInt(this.currentPage) - 1;
        })
        .catch(err => {
          console.log(err);
        });
    },
    displayImage() {
      this.loadingImage = true;
      this.$store.commit("imageReady");
    },
    loadError() {
      this.$store.commit("imageReady");
      this.imageError = true;
    },
    handleScroll: function(event) {
      let number =
        window.pageYOffset ||
        document.documentElement.scrollTop ||
        document.body.scrollTop ||
        0;
      this.heroZoom = 1 + number / 3000;
    }
  }
};
</script>
