<template>
  <main class="site-content post-archive category container" v-if="cat && cat !=''" :key="currentPage" v-bind:class="{ ready: loadingImage }">
    
    <h1 class="title is-1 is-uppercase" v-html="cat.name"></h1>

    <div class="taxonomy-description" v-html="cat.description"></div>
    
    <div class="post-list" v-if="posts && posts.length">
      <post-item v-for="post of posts" :post="post" :key="post.id"></post-item>
    </div>

    <pagination v-if="posts && posts.length" :firstPage="firstPage" :lastPage="lastPage" :type="type" :currentPage="currentPage" :nextPage="nextPage" :totalPages="totalPages" :prevPage="prevPage"></pagination>

  </main>
    
</template>
<script>
import { HTTP } from "./../../environment";

export default {
  name: "Category",
  data() {
    return {
      posts: {},
      cat: {},
      loadingImage: (Boolean = false),
      imageError: (Boolean = false),
      totalPages: "",
      currentPage: "",
      nextPage: "",
      prevPage: "",
      lastPage: "",
      type: ""
    };
  },
  created() {
    this.fetchData();
  },
  watch: {
    $route: "fetchData"
  },
  methods: {
    fetchData() {
      this.$store.commit("imageNotReady");
      this.type = "category/" + this.$route.params.id;
      HTTP.get("wp-json/wp/v2/categories?slug=" + this.$route.params.id).then(
        resp => {
          if (resp.data == "") {
            this.$router.push("/not-found");
          }
          this.cat = resp.data[0];
          document.title = this.$parent.$options.methods.htmlDecode(
            this.cat.name
          );

          HTTP.get(
            "wp-json/wp/v2/posts?categories=" +
              this.cat.id +
              "&page=" +
              this.$route.params.page
          ).then(resp => {
            this.posts = resp.data;
            this.loadingImage = true;
            this.$store.commit("imageReady");
            this.totalPages = resp["headers"]["x-wp-totalpages"];

            this.currentPage = this.$route.params.page;

            if (this.currentPage == 1) {
              document.title = this.cat.name;
            } else {
              document.title = this.cat.name + " Page " + this.currentPage;
            }

            if (this.currentPage == this.totalPages) {
              this.lastPage = true;
            } else {
              this.lastPage = false;
            }

            if (this.currentPage == 1) {
              this.firstPage = true;
            } else {
              this.firstPage = false;
            }

            this.nextPage = parseInt(this.currentPage) + 1;
            this.prevPage = parseInt(this.currentPage) - 1;
          });
        }
      );
    }
  }
};
</script>
