<template>
  <main class="site-content page container" v-if="post && post != ''" :key="post.id" v-bind:class="{ ready: loadingImage }">

    <div class="default-content content is-clearfix">
      <img 
        v-if="post.featured_image_url"
        v-on:load="displayImage" 
        class="featured-image-default"
        v-bind:src="post.featured_image_url" 
        :alt="post.title.rendered" />
      <h1 id="page-title" v-html="post.title.rendered"></h1>
      <p class="post-meta subtitle">
        <span class="post-date">
          {{ post.nice_date }}
        </span>
        <span class="post-author">
          {{ post.author_display_name }}
        </span>
        <span class="post-category" v-for="cat of post.category_list" :key="cat.slug">
          <router-link :to="'/category/' + cat.slug + '/page/1'">
          {{ cat.name }}
        </router-link>
        </span>
      </p>
      <article class="post-content is-clearfix" v-html="post.content.rendered"></article>
      <sharing></sharing>
      <comments :id="post.id" :open="post.comment_status"></comments>
    </div>
    
  </main>
</template>
<script>
import { HTTP } from "./../../environment";

export default {
  name: "Post",

  data() {
    return {
      post: [],
      loadingImage: (Boolean = false)
    };
  },

  created() {
    this.fetchData();
  },

  watch: {
    $route: "fetchData"
  },

  methods: {
    fetchData() {
      this.loadingImage = false;
      this.$store.commit("imageNotReady");
      HTTP.get("wp-json/wp/v2/posts?slug=" + this.$route.params.id)
        .then(resp => {
          if (resp.data == "") {
            this.$router.push("/not-found");
          }
          this.post = resp.data[0];
          document.title = this.$parent.$options.methods.htmlDecode(
            this.post.seo_title
          );
          document.head.querySelector(
            "meta[name=description]"
          ).content = this.$parent.$options.methods.htmlDecode(
            this.post.description
          );
          if (this.post.featured_image_url == null) {
            this.loadingImage = true;
            this.$store.commit("imageReady");
          }
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  displayImage() {
    this.loadingImage = true;
    this.$store.commit("imageReady");
  }
};
</script>
