<template>

    <article 
      class="post-item"
      v-scroll-reveal="{ 
        origin: 'bottom', 
        easing: 'cubic-bezier(0.6, 0.2, 0.1, 1)', 
        useDelay: 'always',
        distance: '150px',
        duration: 250,
        delay: 200,
        viewFactor: 0.1
      }"
    >

      <div class="featured-image" v-if="post.featured_image_url != null">
        <router-link :to="{ name: 'Post', params: { id: post.slug }}">
          <img :src="post.featured_image_url" />
        </router-link>
      </div>

      <div class="title-excerpt">
        <h2 class="title is-2">
          <router-link :to="{ name: 'Post', params: { id: post.slug }}" v-html="post.title.rendered"></router-link>
        </h2>
        <p class="post-meta subtitle">
          <span class="post-date">
            {{ post.nice_date }}
          </span>
          <span class="post-author">
            {{ post.author_display_name }}
          </span>
          <span class="post-category" v-for="cat of post.category_list" :key="cat.slug">
            <router-link :to="'/category/' + cat.slug + '/page/1'">
            {{ cat.name }}
          </router-link>
          </span>
        </p>
        <div v-html="post.excerpt.rendered"></div>
      </div>

    </article>

</template>

<script>
export default {
  name: "PostItem",
  props: ["post"]
};
</script>
