<template>

  <section class="comments">
    <div class="comment-list" v-if="comments && comments.length">
      <h2>Comments</h2>
      <div class="media comment" v-for="comment of comments" :key="comment.id">
        <figure class="media-left image is-96x96" v-if="comment.author_avatar_urls[96]">
          <img v-bind:src="comment.author_avatar_urls[96]" alt="" />
        </figure>
        <div class="media-content">
          <strong class="is-uppercase">{{comment.author_name}}</strong>
          <small class="comment-date">{{comment.nice_date}}</small>
          <div class="content" v-html="comment.content.rendered"></div>
        </div>
      </div>
    </div>
    <template  v-if="open == true && !formSubmitted">
      <h4 class="title is-4">Make A Comment</h4>
      <form class="comment-form columns">
        <div class="column">
          <div class="field">
            <label>Comment</label>
            <textarea v-model="content" placeholder="Your Comment" class="textarea"></textarea>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label>Name</label>
            <input v-model="author_name" placeholder="Name" type="text" class="input" />
          </div>
          <div class="field">
            <label>Email Address</label>
            <input v-model="author_email" placeholder="Email Address" class="input" />
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-primary" @click.prevent="submitComment()">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </template>

    <div v-if="reply !=''" class="media comment">
      <figure class="media-left">
        <img v-bind:src="reply.data.author_avatar_urls[96]" alt="" />
      </figure>
      <div class="media-content">
        <strong>{{reply.data.author_name}}</strong>
        <small>Your comment is awaiting moderation</small>
        <div class="content" v-html="reply.data.content.rendered"></div>
      </div>
    </div>

  </section>

</template>

<script>
import { HTTP } from "./../../environment";

export default {
  name: "AppComments",

  props: ["id", "open"],
  data() {
    return {
      comments: [],
      content: "",
      author_name: "",
      author_email: "",
      reply: ""
    };
  },

  created() {
    this.fetchComments();
    this.formSubmitted = false;
  },

  methods: {
    fetchComments() {
      HTTP.get("wp-json/wp/v2/comments?post=" + this.id)
        .then(comment => {
          this.comments = comment.data;
        })
        .catch(err => {
          console.log(err);
        });
    },
    submitComment() {
      HTTP.post("wp-json/wp/v2/comments?post=" + this.id, {
        content: this.content,
        author_email: this.author_email,
        author_name: this.author_name
        // parent: this.comment_id will let us have threaded comments
      }).then(
        res => {
          this.reply = res;
          this.formSubmitted = true;
        },
        err => {
          this.commentError = err;
          console.log(this.commentError);
        }
      );
    }
  }
};
</script>
