<template>
  <footer class="footer">
    <div class="container is-fluid columns is-variable content">
      <div class="column is-narrow">
        <router-link to="/">
          <img id="footer-logo" :src="this.$store.state.options.branding.footer_logo" alt="" />
        </router-link>
      </div>
      <div class="column vertical-align-center has-text-right">
        <div class="footer-content" v-html="this.$store.state.options.footer.footer_text"></div>
      </div>
    </div>
    <app-player></app-player>
  </footer>
</template>

<script>
export default {
  name: "AppFooter"
};
</script>