<template>

    <div class="form-holder" v-if="formReady">
      
      <transition name="fade">
        <form :id="'schema-form-'+ form.id" @submit.prevent="submitForm" v-if="!formSubmitted">
          <vue-form-generator :schema="form" :model="model" :options="formOptions"></vue-form-generator>
          <button class="button is-primary" v-bind:class="{ 'is-loading' : isLoading }">{{ form.button }}</button>
        </form>
      </transition>
      
      <transition name="fade">
        <div class="reply notification" v-if="formSubmitted" v-html="form.confirmation"></div>
        <div class="reply error-msg notification is-danger" v-if="formError !=''" v-html="formError"></div>
      </transition>
        
    </div>

</template>

<script>
import { HTTP } from "./../../environment";
import VueFormGenerator from "vue-form-generator/dist/vfg-core.js";
import "vue-form-generator/dist/vfg-core.css";

export default {
  name: "AppForm",
  components: {
    "vue-form-generator": VueFormGenerator.component
  },
  props: ["id"],
  data() {
    return {
      formReady: (Boolean = false),
      formSubmitted: (Boolean = false),
      isLoading: (Boolean = false),
      form: {},
      reply: {},
      formError: "",
      model: {},
      schema: {},
      formOptions: {
        validateAfterLoad: true,
        validateAfterChanged: true
      }
    };
  },

  created() {
    this.fetchForm();
    this.formSubmitted = false;
  },

  methods: {
    fetchForm() {
      HTTP.get("wp-json/wp/v2/wpwa-form-fields/" + this.id)
        .then(response => {
          this.formReady = true;
          this.form = response.data;
        })
        .catch(err => {
          this.errorMsg = err;
          console.log(err);
        });
    },
    submitForm() {
      this.isLoading = true;
      HTTP.post("wp-json/church-app/v1/form/", {
        content: this.model
      }).then(
        res => {
          this.reply = res;
          this.formSubmitted = true;
        },
        err => {
          this.formError = err;
          console.log(this.commentError);
        }
      );
    }
  }
};
</script>
