<template>
  <header class="navbar is-transparent vertical-align-center">

    <h1 class="navbar-brand vertical-align-center">

      <router-link class="navbar-item" to="/">
        <img id="header-logo" :src="this.$store.state.options.branding.header_logo" :alt="this.$store.state.options.site_title" />
      </router-link>

      <button class="button navbar-burger is-black" v-bind:class="{ 'is-active': openMenu }" v-on:click="menuStatus()">
        <span></span>
        <span></span>
        <span></span>
      </button>

    </h1>

    <nav class="navbar-menu main-nav" aria-label="main navigation" v-bind:class="{ 'is-active': openMenu }">
      <ul class="navbar-end">
        <li v-for="navItem of this.$store.state.options.menu" :key="navItem.id" v-bind:class="{ 'navbar-item has-dropdown is-hoverable': navItem.children !='' }" v-on:click="closeMenu()">
          <router-link class="navbar-link" :to="'/'+navItem.slug">{{ navItem.title }}</router-link>
          <div class="navbar-dropdown" v-if="(navItem.children !='')">
            
            <router-link v-on:click="closeMenu()" v-for="subItem of navItem.children" :key="subItem.id" class="navbar-item" :to="'/'+subItem.slug">{{ subItem.title }}</router-link>
            
          </div>
        </li>
        <li class="search-toggle" v-if="this.$store.state.options.header.search_include">
          <a class="navbar-item" v-on:click.prevent="seen = !seen">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
            <path fill="#000000" d="M15.504 13.616l-3.79-3.223c-0.392-0.353-0.811-0.514-1.149-0.499 0.895-1.048 1.435-2.407 1.435-3.893 0-3.314-2.686-6-6-6s-6 2.686-6 6 2.686 6 6 6c1.486 0 2.845-0.54 3.893-1.435-0.016 0.338 0.146 0.757 0.499 1.149l3.223 3.79c0.552 0.613 1.453 0.665 2.003 0.115s0.498-1.452-0.115-2.003zM6 10c-2.209 0-4-1.791-4-4s1.791-4 4-4 4 1.791 4 4-1.791 4-4 4z"></path>
          </svg>
          </a>
        </li>
      </ul>
    </nav>

    <search-form v-show="seen"></search-form>
  
  </header>
</template>

<script>
export default {
  name: "AppHeader",
  data() {
    return {
      seen: false,
      openMenu: (Boolean = false)
    };
  },
  methods: {
    menuStatus() {
      this.openMenu = !this.openMenu;
    },
    closeMenu() {
      this.openMenu = false;
    }
  }
};
</script>
