<template>

  <section class="mailchimp-box" v-if="this.$store.state.options.mailchimp.include">
    
    <div class="columns is-variable is-8 vertical-align-center">
      <div class="column is-narrow">
        <div class="mailchimp-intro">
          <h2 class="title" v-html="this.$store.state.options.mailchimp.intro_title"></h2>
          <p class="subtitle" v-html="this.$store.state.options.mailchimp.intro_subtitle"></p>
        </div>
      </div>
      <div class="column">
        <form class="mailchimp-form field has-addons">
          <div class="email control is-expanded" v-bind:class="{'is-loading': showHide }">
            <input type="text" class="input is-large" v-model="email" id="email" name="email" aria-required="true" required="required" placeholder="Your Email Address">
          </div>
          <div class="submit control">
            <button @click.prevent="subscribeEmail()" class="button is-large is-primary is-uppercase">{{ this.$store.state.options.mailchimp.button_text }}</button>
          </div>
        </form>
        <span v-if="reply" class="mailchimp-response success-msg">
          <p v-html="this.$store.state.options.mailchimp.confirmation"></p>
        </span>

        <span v-if="error" class="mailchimp-response error-msg">
          <p>Sorry that did not work. Error Message "{{commentError}}"</p>
        </span>
      </div>
    </div>
    
  </section>

</template>

<script>
import { HTTP } from "./../../environment";

export default {
  name: "MailChimp",

  data() {
    return {
      page: {},
      email: "",
      error: (Boolean = false),
      reply: (Boolean = false),
      showHide: (Boolean = false)
    };
  },
  methods: {
    subscribeEmail() {
      this.showHide = true;
      HTTP.post("wp-json/church-app/v1/subscribe", {
        email: this.email
      }).then(
        res => {
          this.reply = res;
          this.formSubmitted = true;
          this.showHide = false;
        },
        err => {
          this.error = err;
        }
      );
    }
  }
};
</script>
