<template>
  <transition name="fade">
    <div 
      class="header-bar vertical-center columns is-mobile" 
      v-show="seen && this.$store.state.options.header.display_bar" 
    >
      <div class="notification-content column" v-html="this.$store.state.options.header.content"></div>
      <div class="close-box column is-narrow">
        <button class="delete is-medium is-light" v-on:click="seen = !seen" aria-label="close"></button>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "NotificationBar",
  data() {
    return {
      seen: true
    };
  }
};
</script>