<template>

    <div class="pagination columns vertical-align-center" v-if="totalPages > 1">
      <div class="column has-text-left">
        <router-link :to="'/' + type + '/page/' + prevPage" v-if="!firstPage" class="previous">Previous</router-link>
      </div>
      <div class="column has-text-centered">
        <p class="helper-text">Page {{ currentPage }} of {{ totalPages }}</p>
      </div>
      <div class="column has-text-right">
        <router-link :to="'/' + type + '/page/' + nextPage" v-if="!lastPage" class="next">Next</router-link>
      </div>
    </div>

</template>

<script>
export default {
  name: "Pagination",
  props: [
    "firstPage",
    "lastPage",
    "prevPage",
    "nextPage",
    "currentPage",
    "totalPages",
    "type",
    "id"
  ]
};
</script>