<template>

  <transition name="fade">
    <div class="audio-player vertical-align-center columns" v-if="$store.state.podcastFile != ''">

      <div class="column">
        <vue-audio :file="$store.state.podcastFile" />
      </div>

      <div class="column is-narrow close-player">
        <button class="delete is-medium" v-on:click="close" aria-label="close"></button>
      </div>

    </div>
  </transition>

</template>

<script>
export default {
  name: "AppPlayer",
  methods: {
    close: function(event) {
      this.$store.commit("setPlayerMP3", "");
    }
  }
};
</script>
