<template>

  <div class="search-holder">
    <form @submit.prevent="beginSearch" class="field has-addons search-form">

      <div class="control is-expanded">
        <input v-model="search_terms" class="input" type="text" placeholder="Search Terms">
      </div>
      
      <div class="control">
        <div class="button is-info" v-on:click="beginSearch">
          Search
        </div>
      </div>

    </form>
  </div>

</template>

<script>
export default {
  name: "SearchForm",
  data() {
    return {
      search_terms: "",
      formatedSearchTerms: ""
    };
  },
  methods: {
    beginSearch() {
      this.formatedSearchTerms = this.search_terms.replace(/ /g, "+");
      this.$router.push({
        name: "Search",
        params: { term: this.formatedSearchTerms }
      });
    }
  }
};
</script>
