<template>

<social-sharing :url="url" inline-template>
    <div class="columns has-text-centered social-sharing is-variable">
        <network network="facebook" class="column facebook-share">
            <svg width="57" height="57" viewBox="0 0 56.7 56.7"><path d="M40.4 21.7h-7.6v-5c0-1.9 1.2-2.3 2.1-2.3 0.9 0 5.4 0 5.4 0V6.1l-7.4 0c-8.2 0-10.1 6.2-10.1 10.1v5.5h-4.8v8.5h4.8c0 10.9 0 24.1 0 24.1h10c0 0 0-13.3 0-24.1h6.8L40.4 21.7z" fill="#fff"/></svg>
        </network>
        <network network="linkedin" class="column linkedin-share">
            <svg width="57" height="57" viewBox="0 0 56.7 56.7"><path d="M30.1 27.1v-0.1c0 0 0 0.1 0 0.1H30.1z"/><path d="M49.3 4.7H7.1c-2 0-3.7 1.6-3.7 3.6v42.6c0 2 1.6 3.6 3.7 3.6h42.1c2 0 3.7-1.6 3.7-3.6V8.2C52.9 6.3 51.3 4.7 49.3 4.7zM18.5 46.3h-7.5V23.8h7.5V46.3zM14.7 20.8h0c-2.5 0-4.1-1.7-4.1-3.9 0-2.2 1.7-3.9 4.2-3.9 2.6 0 4.1 1.7 4.2 3.9C19 19.1 17.3 20.8 14.7 20.8zM45.4 46.3h-7.5V34.3c0-3-1.1-5.1-3.8-5.1 -2.1 0-3.3 1.4-3.8 2.7 -0.2 0.5-0.2 1.1-0.2 1.8v12.5h-7.5c0 0 0.1-20.4 0-22.5h7.5v3.2c1-1.5 2.8-3.7 6.7-3.7 4.9 0 8.6 3.2 8.6 10.1V46.3z"/></svg>
        </network>
        <network network="pinterest" class="column pinterest-share">
            <svg width="57" height="57" viewBox="0 0 56.7 56.7"><path d="M30.4 4.6c-13.6 0-20.4 9.7-20.4 17.9 0 4.9 1.9 9.3 5.9 10.9 0.7 0.3 1.2 0 1.4-0.7 0.1-0.5 0.4-1.8 0.6-2.3 0.2-0.7 0.1-1-0.4-1.6 -1.2-1.4-1.9-3.1-1.9-5.6 0-7.2 5.4-13.7 14.1-13.7 7.7 0 11.9 4.7 11.9 11 0 8.2-3.6 15.2-9.1 15.2 -3 0-5.2-2.5-4.5-5.5 0.9-3.6 2.5-7.5 2.5-10.1 0-2.3-1.3-4.3-3.9-4.3 -3.1 0-5.5 3.2-5.5 7.4 0 2.7 0.9 4.5 0.9 4.5s-3.1 13.3-3.7 15.6c-1.1 4.6-0.2 10.3-0.1 10.9 0 0.3 0.5 0.4 0.7 0.2 0.3-0.4 3.9-4.9 5.2-9.4 0.4-1.3 2-7.9 2-7.9 1 1.9 3.9 3.6 7 3.6 9.2 0 15.4-8.4 15.4-19.6C48.5 12.5 41.3 4.6 30.4 4.6z" fill="#fff"/></svg>
        </network>
        <network network="reddit" class="column reddit-share">
            <svg width="57" height="57" viewBox="0 0 56.7 56.7"><path d="M53 28.4c0-3.1-2.6-5.7-5.7-5.7 -1.4 0-2.7 0.5-3.8 1.4 -3.8-2.4-8.8-3.9-14.3-4.1l3.4-11.6 8.3 1.5c0 0.1 0 0.1 0 0.2 0.1 2 1.8 3.5 3.8 3.4 2-0.1 3.5-1.8 3.4-3.8 -0.1-2-1.8-3.5-3.8-3.4 -1.3 0.1-2.4 0.8-2.9 1.8 0 0 0 0 0 0l-10-1.9 -4 13.6c-5.6 0.1-10.6 1.7-14.4 4.1 -1-0.9-2.3-1.4-3.7-1.4 -3.1 0-5.7 2.6-5.7 5.7 0 1.9 1 3.7 2.6 4.8 -0.1 0.6-0.2 1.1-0.2 1.7 0 8.2 10 14.9 22.2 14.9S50.5 43.2 50.5 34.9c0-0.6-0.1-1.1-0.1-1.7C52 32.2 53 30.4 53 28.4zM17.8 32.3c0-1.9 1.6-3.5 3.5-3.5 1.9 0 3.5 1.6 3.5 3.5 0 1.9-1.6 3.5-3.5 3.5C19.3 35.8 17.8 34.2 17.8 32.3zM36.6 41.8c-0.1 0.1-2.6 2.7-8.3 2.7 -5.7 0-8-2.6-8.1-2.7 -0.3-0.4-0.3-0.9 0.1-1.3 0.4-0.3 0.9-0.3 1.3 0.1 0.1 0.1 2 2.1 6.7 2.1 4.8 0 7-2.1 7-2.1 0.3-0.3 0.9-0.4 1.3 0C36.9 40.9 36.9 41.4 36.6 41.8zM35.9 35.8c-1.9 0-3.5-1.6-3.5-3.5 0-1.9 1.6-3.5 3.5-3.5 1.9 0 3.5 1.6 3.5 3.5C39.4 34.2 37.8 35.8 35.9 35.8z" fill="#fff"/></svg>
        </network>
        <network network="twitter" class="column twitter-share">
            <svg width="57" height="57" viewBox="0 0 56.7 56.7"><path d="M41 42.3h-9.3c-6.6 0-7.7-2.9-7.7-5.7 0-1.3 0.1-3.4 0.2-6h15.6c2.3 0 6.8-1 6.8-5.2 0-4.3-2.1-7.1-4.8-7.1H24.3C24.3 12.2 23.9 6.1 17.9 6.1c-2.5 0-4.5 1-5.3 3.6 -1.1 3.3-0.8 7.2-0.8 10.7 0 0.7 0 1.3 0 2 0 2.3 0.1 4.6 0.1 6.8 0 2.5 0 4.9 0 7.4 0 13.7 12.5 17.6 14.9 17.6s11.8 0.2 13.5 0.2 6.6-0.4 6.6-5.4S43.3 42.3 41 42.3z" fill="#fff"/></svg>
        </network>
        <network network="whatsapp" class="column whatsapp-share">
            <svg width="57" height="57" viewBox="0 0 56.7 56.7"><path class="st0" d="M46.4 10.7c-4.7-4.7-10.8-7.2-17.4-7.2 -13.6 0-24.6 11.1-24.6 24.6 0 4.3 1.1 8.6 3.3 12.3l-3.5 12.8 13.1-3.4c3.6 2 7.6 3 11.8 3h0c0 0 0 0 0 0 13.6 0 24.6-11.1 24.6-24.6C53.6 21.6 51 15.4 46.4 10.7zM29 48.6h0c-3.7 0-7.3-1-10.4-2.9l-0.7-0.4 -7.7 2 2.1-7.6 -0.5-0.8c-2-3.3-3.1-7-3.1-10.9 0-11.3 9.2-20.5 20.5-20.5 5.5 0 10.6 2.1 14.5 6 3.9 3.9 6 9 6 14.5C49.4 39.4 40.2 48.6 29 48.6z" /><path class="st0" d="M40.2 33.3c-0.6-0.3-3.6-1.8-4.2-2 -0.6-0.2-1-0.3-1.4 0.3 -0.4 0.6-1.6 2-1.9 2.4 -0.4 0.4-0.7 0.5-1.3 0.2 -0.6-0.3-2.6-1-4.9-3.1 -1.8-1.6-3.1-3.6-3.4-4.3 -0.4-0.6 0-0.9 0.3-1.3 0.3-0.3 0.6-0.7 0.9-1.1 0.3-0.4 0.4-0.6 0.6-1 0.2-0.4 0.1-0.8-0.1-1.1 -0.2-0.3-1.4-3.3-1.9-4.6 -0.5-1.2-1-1-1.4-1.1 -0.4 0-0.8 0-1.2 0s-1.1 0.2-1.6 0.8c-0.6 0.6-2.2 2.1-2.2 5.1 0 3 2.2 6 2.5 6.4 0.3 0.4 4.3 6.6 10.5 9.3 1.5 0.6 2.6 1 3.5 1.3 1.5 0.5 2.8 0.4 3.9 0.2 1.2-0.2 3.6-1.5 4.2-2.9 0.5-1.4 0.5-2.7 0.4-2.9C41.2 33.7 40.8 33.6 40.2 33.3z"/></svg>
        </network>
    </div>
</social-sharing>

</template>

<script>
export default {
  name: "AppSharing",
  data() {
    return {
      url: ""
    };
  },
  created() {
    this.getURL();
  },
  methods: {
    getURL() {
      this.url = window.location.href;
    }
  }
};
</script>
