<template>

    <tiny-slider 
        :controls="false"
        :autoplay="true"
        :lazyload="true"
        :nav="false"
        :autoplayButtonOutput="false"
        :mode="'carousel'"
        :speed="500"
    >

            <div 
                v-for="(slide, index) of slides"
                :key="index"
                class="slide hero is-large"
                v-bind:class="[ slide.h_alignment, height ]"
            >
                <div class="slide-body hero-body">
                    <div class="container">
                        <h1 class="title is-1" v-html="slide.title" v-bind:style="{ 'color': slide.title_color }"></h1>
                        <h3 class="subtitle is-3" v-html="slide.subtitle" v-bind:style="{ 'color': slide.subtitle_color }"></h3>
                        <a class="button is-outline" v-if="slide.slide_link_url" :href="slide.url" v-html="slide.button"></a>
                    </div>
                </div>
                <div class="slide-background">
                    <img :src="slide.background_image" alt="" />
                </div>
            </div>

    </tiny-slider>

</template>

<script>
export default {
  name: "AppSlider",
  props: ["slides", "height"],
  data() {
    return {
      options: {
        arrows: false,
        dots: false,
        autoplay: true,
        infinite: true,
        timing: "linear",
        speed: 750,
        autoplaySpeed: 4000
      }
    };
  }
};
</script>