<template>

 <main 
  class="site-content event-archive" 
  :key="'event-calendar' + currentPage"
  v-bind:class="[
    { ready: loadingImage },
    { 'has-hero': ( page.include_hero && firstPage ) }
  ]"
  >

    <template v-if="page.include_hero && firstPage">
      <div class="hero main-hero" v-bind:class="[ page.hero.height,page.hero.h_alignment ]" v-bind:style="{ 'background-color': page.hero.background }">
        <div class="hero-body">
          <div class="container">
            <h1 class="title is-1" v-bind:style="{ 'color': page.hero.title_color }" v-html="page.hero.title"></h1>
            <h2 class="subtitle is-3" v-bind:style="{ 'color': page.hero.subtitle_color }"  v-html="page.hero.subtitle"></h2>
          </div>
        </div>

        <div v-if="page.hero.type == 'video'" class="video-hero">
          <video autoplay loop mute :poster="page.hero.image">
            <source :src="page.hero.mp4" type="video/mp4">
            <source :src="page.hero.webm" type="video/webm">
          </video>
        </div>

        <img
          v-on:load="displayImage" 
          :src="page.hero.image"
          class="hero-background"
          v-bind:style="{ 
            transform: 'scale('+heroZoom+')' 
          }"
        />
        <div class="hero-overlay" v-bind:style="{ opacity: page.hero.opacity, backgroundColor: page.hero.overlay }"></div>
      </div>
    </template>

    <div class="default-content container content is-clearfix">
      <div class="archive-intro" v-if="page !='' && firstPage">
        <img 
          v-if="page.featured_image_url && !page.include_hero"
          v-on:load="displayImage" 
          v-on:error="loadError"
          v-bind:class="{ 'is-invisible': imageError }"
          class="featured-image-default" 
          v-bind:src="page.featured_image_url"
          :alt="page.title.rendered" />
        <h1 class="title is-1 entry-title" v-if="!page.include_hero" v-html="page.title.rendered"></h1>
        <div class="taxonomy-description" v-html="page.content.rendered"></div>
      </div>

      <div class="event-item" v-for="event of posts.events" :key="event.id">

        <div class="columns vertical-align-center event-header">
          <div class="column">
            <h2 class="title is-3 no-margin">
              <router-link :to="{ name: 'Event', params: { id: event.slug }}" v-html="event.title"></router-link>
            </h2>
          </div>
          <div class="column is-one-third event-times">
            <div class="columns">
              <div class="column">
                <span class="has-text-weight-bold">Begins:</span>
              </div>
              <div class="column">
                {{ event.nice_start.day }}
              </div>
              <div class="column" v-if="!event.all_day">
                {{ event.nice_start.time }}
              </div>
              <div class="column" v-else>
                All Day
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <span class="has-text-weight-bold">Ends:</span>
              </div>
              <div class="column">
                {{ event.nice_end.day }}
              </div>
              <div class="column" v-if="!event.all_day">
                {{ event.nice_end.time }}
              </div>
              <div class="column" v-else>
                All Day
              </div>
            </div>
          </div>
        </div>

        <div class="event-description" v-html="event.description"></div>
      
      </div>

      <pagination 
        v-if="firstPage != lastPage && posts.events.length" 
        :firstPage="firstPage" 
        :lastPage="lastPage" 
        :type="'events'" 
        :currentPage="currentPage" 
        :nextPage="nextPage" 
        :totalPages="totalPages" 
        :prevPage="prevPage"
      ></pagination>
    
    </div>

  </main>
    
</template>
<script>
import { HTTP } from "./../../environment";

export default {
  name: "Events",

  data() {
    return {
      page: {
        title: ""
      },
      rawEvents: {},
      posts: {},
      header: "",
      loadingImage: (Boolean = false),
      imageError: (Boolean = false),
      firstPage: "",
      totalPages: "",
      currentPage: "",
      pageNumber: "",
      nextPage: "",
      prevPage: "",
      lastPage: "",
      heroZoom: 1
    };
  },
  created() {
    this.fetchData();
    window.addEventListener("scroll", this.handleScroll);
  },
  watch: {
    $route: "fetchData"
  },
  destroyed: function() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  methods: {
    fetchData() {
      this.$store.commit("imageNotReady");
      HTTP.get("wp-json/wp/v2/pages?slug=events")
        .then(resp => {
          this.page = resp.data[0];
          if (this.page.featured_image_url == null) {
            this.loadingImage = true;
            this.$store.commit("imageReady");
          }
          document.title = this.$parent.$options.methods.htmlDecode(
            this.page.seo_title
          );
          document.head.querySelector(
            "meta[name=description]"
          ).content = this.$parent.$options.methods.htmlDecode(
            this.page.description
          );
        })
        .catch(err => {
          console.log(err);
        });
      HTTP.get("wp-json/tribe/events/v1/events?page=" + this.$route.params.id) // in this case the slug is the number of the page in our archive
        .then(resp => {
          this.posts = resp.data;
          this.totalPages = this.posts.total_pages;
          this.currentPage = this.$route.params.id;

          if (this.currentPage == 1) {
            document.title = "Event Calendar";
          } else {
            document.title = "Event Page " + this.currentPage;
          }

          if (this.currentPage == this.totalPages) {
            this.lastPage = true;
          } else {
            this.lastPage = false;
          }

          if (this.currentPage == 1) {
            this.firstPage = true;
          } else {
            this.firstPage = false;
          }

          this.pageNumber = this.$route.params.id;
          this.nextPage = parseInt(this.pageNumber) + 1;
          this.prevPage = parseInt(this.pageNumber) - 1;
        })
        .catch(err => {
          console.log(err);
        });
    },
    displayImage() {
      this.loadingImage = true;
      this.$store.commit("imageReady");
    },
    loadError() {
      this.$store.commit("imageReady");
      this.imageError = true;
    },
    handleScroll: function(event) {
      let number =
        window.pageYOffset ||
        document.documentElement.scrollTop ||
        document.body.scrollTop ||
        0;
      this.heroZoom = 1 + number / 3000;
    }
  }
};
</script>
