<template>
  <main class="site-content event container" v-if="event && event != ''" :key="event.id" v-bind:class="{ ready: loadingImage }">

    <article class="default-content content is-clearfix">

      <img v-if="event.image" v-on:load="displayImage" class="featured-image-default" v-bind:src="event.image.url" alt="" />

      <div class="columns vertical-align-center event-header">
        <div class="column">
          <h1 class="title is-1 is-bold no-margin" v-html="event.title"></h1>
        </div>
        <div class="column is-one-third event-times">
          <div class="columns">
            <div class="column">
              <span class="has-text-weight-bold">Begins:</span>
            </div>
            <div class="column">
              {{ event.nice_start.day }}
            </div>
            <div class="column" v-if="!event.all_day">
              {{ event.nice_start.time }}
            </div>
            <div class="column" v-else>
              All Day
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <span class="has-text-weight-bold">Ends:</span>
            </div>
            <div class="column">
              {{ event.nice_end.day }}
            </div>
            <div class="column" v-if="!event.all_day">
              {{ event.nice_end.time }}
            </div>
            <div class="column" v-else>
              All Day
            </div>
          </div>
        </div>
      </div>

      <div v-html="event.json_ld.description" class="event-description"></div>

      <div v-if="event.venue != ''" class="columns is-variable is-8 location">

        <div class="column is-narrow vertical-align-center">
          <h2 class="title is-2 no-margin">Where</h2>
        </div>
        <div class="column is-narrow venue-address">
          <address>
            <span class="has-text-weight-bold">{{ event.venue.venue }}</span>
            <br> {{ event.venue.address }}
            <br> {{ event.venue.city }}, {{ event.venue.state }} {{ event.venue.zip }}
          </address>
        </div>
        <div class="column is-narrow venue-address">
          {{ event.venue.phone }}
          <br>
          <a v-if="event.venue.website" :href="event.venue.website" target="_blank">Visit Website</a>
        </div>
      </div>

      <sharing></sharing>

    </article>

  </main>
</template>
<script>
import { HTTP } from "./../../environment";

export default {
  name: "Event",

  data() {
    return {
      event: {},
      loadingImage: (Boolean = false),
      imageError: (Boolean = false)
    };
  },

  created() {
    this.fetchData();
  },

  watch: {
    $route: "fetchData"
  },

  methods: {
    fetchData() {
      this.loadingImage = false;
      this.$store.commit("imageNotReady");
      HTTP.get(
        "wp-json/tribe/events/v1/events/by-slug/" + this.$route.params.id
      )
        .then(resp => {
          if (resp.data == "") {
            this.$router.push("/not-found");
          }
          this.event = resp.data;

          if (this.event.image == false) {
            this.loadingImage = true;
            this.$store.commit("imageReady");
          }

          document.title = this.$parent.$options.methods.htmlDecode(
            this.event.seo_title
          );
          document.head.querySelector(
            "meta[name=description]"
          ).content = this.$parent.$options.methods.htmlDecode(
            this.event.description
          );
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  displayImage() {
    this.loadingImage = true;
    this.$store.commit("imageReady");
  },
  loadError() {
    this.$store.commit("imageReady");
    this.imageError = true;
  }
};
</script>
