<template>
  <main class="site-content page" v-if="page && page != ''" :key="page.id" :id="'page-' + page.id" v-bind:class="{ ready: loadingImage }">
      
    <div class="default-content container content is-clearfix">

      <img 
        v-if="page.featured_image_url"
        v-on:load="displayImage" 
        v-on:error="loadError"
        v-bind:class="{ 'is-invisible': imageError }"
        class="featured-image-default" 
        v-bind:src="page.featured_image_url"
        alt="" />
      
      <div class="login-form" v-if="$store.state.user.token == ''">
        <h1 id="page-title" v-html="page.title.rendered"></h1>
        <article class="page-content" v-html="page.content.rendered"></article>
        <div class="field">
            <label class="label">Username</label>
            <div class="control">
                <input v-model="username" class="input" type="text" placeholder="Your Username">
            </div>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input v-model="password" class="input" type="password" placeholder="Password">
            </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-primary" @click.prevent="submitLogin()" v-bind:class="{ 'is-loading': loadingUser }">Submit</button>
          </div>
        </div>
      </div>

      <div class="welcome-back" v-else>

        <p>Welcome back <strong>{{ $store.state.user.user_display_name }}.</strong></p>

      </div>
        
    </div>

  </main>
</template>

<script>
import { HTTP } from "./../../environment";
export default {
  name: "Login",
  data() {
    return {
      page: {
        title: {
          rendered: ""
        },
        featured_image_url: "",
        content: {
          rendered: ""
        }
      },
      loadingImage: (Boolean = false),
      imageError: (Boolean = false),
      username: "",
      password: "",
      loadingUser: (Boolean = false),
      user: {}
    };
  },
  created() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      this.loadingImage = false;
      this.$store.commit("imageNotReady");

      HTTP.get("wp-json/wp/v2/pages?slug=login")
        .then(resp => {
          this.page = resp.data[0];
          if (this.page.featured_image_url == null) {
            this.$store.commit("imageReady");
          }
          document.title = this.page.title.rendered;
          document.head.querySelector(
            "meta[name=description]"
          ).content = this.page.description;
        })
        .catch(err => {
          console.log(err);
        });
    },
    displayImage() {
      this.loadingImage = true;
      this.$store.commit("imageReady");
    },
    loadError() {
      this.$store.commit("imageReady");
      this.imageError = true;
    },
    submitLogin() {
      this.loadingUser = true;
      HTTP.post("wp-json/jwt-auth/v1/token", {
        username: this.username,
        password: this.password
      }).then(
        res => {
          this.user = res.data;
          localStorage.setItem("user", JSON.stringify(this.user));
          this.$store.commit("setUser", this.user);
        },
        err => {
          this.commentError = err;
          console.log(this.commentError);
        }
      );
    }
  }
};
</script>
