<template>
  <main class="site-content page ready" v-if="page !=''" :key="page.id">
      
    <div class="default-content container content is-clearfix">
      <div class="columns">
        <div class="column">
          <div class="media">
              <figure class="media-left">
                <img :src="page.avatar_urls[96]" />
              </figure>
              <div class="media-content">
                  <strong v-html="page.name"></strong>
                  <div class="content" v-html="page.description"></div>
              </div>
          </div>
        </div>
        <div class="column">
          
        </div>
      </div>
    </div>

  </main>
</template>

<script>
import { HTTP } from "./../../environment";

export default {
  name: "User",
  data() {
    return {
      page: {
        name: "",
        description: "",
        avatar_urls: {
          96: ""
        }
      },
      localUser: {},
      loadingImage: (Boolean = false),
      imageError: (Boolean = false)
    };
  },
  created() {
    this.fetchData();
  },

  methods: {
    fetchData() {
      this.localUser = JSON.parse(localStorage.getItem("user"));
      HTTP.get("wp-json/wp/v2/users?slug=" + this.localUser.user_nicename)
        .then(resp => {
          this.page = resp.data[0];
          document.title = this.page.name + "'s Profile";
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>
