<template>

  <div 
    class="column"
    :class="[
      column.v_alignment,
      column.h_alignment,
      column.css_class,
      column.width,
      column.offset,
      { 'is-hidden-mobile': column.hide_on_mobile },
      { 'flush-content' : column.flush_content}
    ]"
    >
    
      <div
        v-if="column.animation.include"
        class="column-content-wrap"
        :style="[getBackground, getStyles]"
        v-scroll-reveal="{ 
          origin: column.animation.direction, 
          easing: 'cubic-bezier(0.6, 0.2, 0.1, 1)', 
          useDelay: 'always',
          distance: column.animation.distance,
          duration: column.animation.duration,
          delay: column.animation.delay,
          viewFactor: 0.5
        }">
        <div class="column-content" v-html="column.content"></div>
        <app-form v-if="column.include_form" :id="column.form"></app-form>
      </div>

      <div
        v-else
        class="column-content-wrap"
        :style="[getBackground, getStyles]"
      >
        <div class="column-content" v-html="column.content"></div>
        <app-form v-if="column.include_form" :id="column.form"></app-form>
      </div>

  </div>

</template>

<script>
export default {
  name: "Column",
  props: ["column"],
  computed: {
    getStyles() {
      var styles = {
        backgroundColor: this.column.background_color,
        color: this.column.text_color,
        paddingTop: this.column.padding.top,
        paddingRight: this.column.padding.right,
        paddingBottom: this.column.padding.bottom,
        paddingLeft: this.column.padding.left
      };
      return styles;
    },
    getBackground() {
      if (
        this.column.background_image == "" ||
        this.column.background_image == null ||
        this.column.background_image == false
      ) {
        return;
      } else {
        var background = {
          "background-image": "url(" + this.column.background_image + ")",
          "background-size": this.column.image_options.size,
          "background-repeat": this.column.image_options.repeat,
          "background-position": this.column.image_options.position,
          "background-attachment": this.column.image_options.attachment
        };
        return background;
      }
    }
  }
};
</script>