<template>
  <main 
    class="site-content page" 
    v-if="page && page != ''" 
    :key="page.id" 
    :id="'page-' + page.id" 
    v-bind:class="[
      { ready: loadingImage },
      { 'has-builder': page.builder },
      { 'has-hero': page.include_hero }
    ]"
  >

    <template v-if="page.include_hero">
      <div class="hero main-hero" v-bind:class="[ page.hero.height,page.hero.h_alignment ]" v-bind:style="{ 'background-color': page.hero.background }">
        <div class="hero-body">
          <div class="container">
            <h1 class="title is-1" v-bind:style="{ 'color': page.hero.title_color }" v-html="page.hero.title"></h1>
            <h2 class="subtitle is-3" v-bind:style="{ 'color': page.hero.subtitle_color }"  v-html="page.hero.subtitle"></h2>
          </div>
        </div>

        <div v-if="page.hero.type == 'video'" class="video-hero">
          <video autoplay loop mute :poster="page.hero.image">
            <source :src="page.hero.mp4" type="video/mp4">
            <source :src="page.hero.webm" type="video/webm">
          </video>
        </div>

        <img
          v-on:load="displayImage" 
          :src="page.hero.image"
          class="hero-background"
          v-bind:style="{ 
            transform: 'scale('+heroZoom+')' 
          }"
        />
        <div class="hero-overlay" v-bind:style="{ opacity: page.hero.opacity, backgroundColor: page.hero.overlay }"></div>
      </div>
    </template>

    <div class="builder-rows" v-if="page.builder">

      <row v-for="(row, index) of page.rows" :row="row" :key="index"></row>
 
    </div>

    <template v-else>
      <div class="default-content container content is-clearfix">

        <img 
          v-if="page.featured_image_url  && !page.include_hero"
          v-on:load="displayImage" 
          v-on:error="loadError"
          v-bind:class="{ 'is-invisible': imageError }"
          class="featured-image-default" 
          v-bind:src="page.featured_image_url"
          :alt="page.title.rendered" />
        <h1 
          class="title entry-title" 
          v-if="!page.include_hero" 
          v-html="page.title.rendered"></h1>
        <article class="entry-content" v-html="page.content.rendered"></article>

        <app-form v-if="page.form" :id="page.form_id"></app-form>
        
      </div>
    </template>

  </main>
</template>

<script>
import { HTTP } from "./../../environment";

export default {
  name: "Page",
  data() {
    return {
      source: "",
      page: {
        title: {
          rendered: ""
        },
        content: {
          rendered: ""
        }
      },
      loadingImage: (Boolean = false),
      imageError: (Boolean = false),
      heroZoom: 1
    };
  },
  created() {
    this.fetchData();
    window.addEventListener("scroll", this.handleScroll);
  },
  watch: {
    $route: "fetchData"
  },
  destroyed: function() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  methods: {
    fetchData() {
      this.loadingImage = false;
      this.$store.commit("imageNotReady");

      if (this.$route.params.id == undefined) {
        this.source = "front-page";
      } else {
        this.source = this.$route.params.id;
      }
      HTTP.get("wp-json/wp/v2/pages?slug=" + this.source)
        .then(resp => {
          if (resp.data == "") {
            this.$router.push("/not-found");
          }
          this.page = resp.data[0];

          if (this.page.featured_image_url == null) {
            this.$store.commit("imageReady");
          }
          document.title = this.page.title.rendered;
          if (this.page.description != "") {
            document.head.querySelector(
              "meta[name=description]"
            ).content = this.page.description;
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    displayImage() {
      this.loadingImage = true;
      this.$store.commit("imageReady");
    },
    loadError() {
      this.imageError = true;
      this.$store.commit("imageReady");
    },
    handleScroll: function(event) {
      let number =
        window.pageYOffset ||
        document.documentElement.scrollTop ||
        document.body.scrollTop ||
        0;
      this.heroZoom = 1 + number / 3000;
    }
  }
};
</script>