<template>

    <div
        v-bind:class="[
          row.css_class, 
          { 'row-has-slider': row.include_slider }, 
          { 'columns': !row.include_slider }
        ]"
        v-bind:style="[getBackground, getStyles]"
      >

        <app-slider v-if="row.include_slider" :slides="row.slider" :height="row.slider_height"></app-slider>
        <template v-else>

          <column v-for="(column, index) of row.columns" :column="column" :key="index"></column>

        </template>

      </div>

</template>

<script>
export default {
  name: "Row",
  props: ["row"],
  computed: {
    getStyles() {
      var styles = {
        backgroundColor: this.row.background_color,
        color: this.row.text_color,
        paddingTop: this.row.padding.top,
        paddingRight: this.row.padding.right,
        paddingBottom: this.row.padding.bottom,
        paddingLeft: this.row.padding.left
      };
      return styles;
    },
    getBackground() {
      if (
        this.row.background_image == "" ||
        this.row.background_image == null ||
        this.row.background_image == false
      ) {
        return;
      } else {
        var background = {
          "background-image": "url(" + this.row.background_image + ")",
          "background-size": this.row.image_options.size,
          "background-repeat": this.row.image_options.repeat,
          "background-position": this.row.image_options.position,
          "background-attachment": this.row.image_options.attachment
        };
        return background;
      }
    }
  }
};
</script>