<template>
  <main class="site-content page container" v-if="post && post != ''" :key="post.id" v-bind:class="{ ready: loadingImage }">

    <div class="default-content content is-clearfix">
        <template v-if="post.mime_type == 'video/mp4'">
            <video controls class="main-media-holder">

                <source :src="post.source_url" type="video/mp4">

            </video>
        </template>
        <template v-else>
            <img 
                v-if="post.source_url"
                v-on:load="displayImage" 
                class="featured-image-default"
                v-bind:src="post.source_url" 
                alt="" />
        </template>
      <h1 id="page-title" v-html="post.title.rendered"></h1>
        
      <article class="post-content is-clearfix" v-html="post.caption.rendered"></article>
      <sharing></sharing>
      <comments :id="post.id" :open="post.comment_status"></comments>

    </div>
    
  </main>
</template>
<script>
import { HTTP } from "./../../environment";

export default {
  name: "Media",

  data() {
    return {
      post: {},
      loadingImage: (Boolean = false)
    };
  },

  created() {
    this.fetchData();
  },

  watch: {
    $route: "fetchData"
  },

  methods: {
    fetchData() {
      this.loadingImage = false;
      this.$store.commit("imageNotReady");
      HTTP.get("wp-json/wp/v2/media?slug=" + this.$route.params.id)
        .then(resp => {
          if (resp.data == "") {
            this.$router.push("/not-found");
          }
          this.post = resp.data[0];
          document.title = this.$parent.$options.methods.htmlDecode(
            this.post.title.rendered
          );
          document.head.querySelector(
            "meta[name=description]"
          ).content = this.$parent.$options.methods.htmlDecode(
            this.post.description
          );
          if (this.post.source_url == null) {
            this.loadingImage = true;
            this.$store.commit("imageReady");
          }
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  displayImage() {
    this.loadingImage = true;
    this.$store.commit("imageReady");
  }
};
</script>
