<template>

  <main class="site-content search-results container ready">

    <div class="default-content container content is-clearfix">
      
      <h1 class="title is-1">Search Results For <em>{{ this.$route.params.term }}</em></h1>
      
      <template v-if="noResults">
        
        <p class="subtitle">Sorry that request did not turn up any results.  You can try searching again.</p>
        <search-form class="full-width"></search-form>

      </template>

      <div class="search-result media" v-for="entry of posts" :key="entry.slug" v-if="( entry.type == 'page') || ( entry.type == 'post' ) || ( entry.type == 'podcast' )">

        <template v-if="entry.type == 'page'">

          <figure class="media-left" v-if="entry.featured_image_url">
            <router-link :to="{ name: 'Page', params: { id: entry.slug }}">
              <img :src="entry.featured_image_url">
            </router-link>
          </figure>
          <div class="media-content">
            <div class="content">
              <router-link :to="{ name: 'Page', params: { id: entry.slug }}">
                <strong v-html="entry.title.rendered"></strong> <small></small>
              </router-link>
              <p v-html="entry.excerpt.rendered"></p>
            </div>
          </div>
            
        </template>

        <template v-else-if="entry.type == 'post'">
          <figure class="media-left" v-if="entry.featured_image_url">
            <router-link :to="{ name: 'Post', params: { id: entry.slug }}">
              <img :src="entry.featured_image_url">
            </router-link>
          </figure>
          <div class="media-content">
            <div class="content">
              <router-link :to="{ name: 'Post', params: { id: entry.slug }}">
                <strong v-html="entry.title.rendered"></strong> <small></small>
              </router-link>
              <p v-html="entry.excerpt.rendered"></p>
            </div>
          </div>
        </template>

        <template v-else-if="entry.type == 'podcast'">
          <figure class="media-left" v-if="entry.featured_image_url">
            <router-link :to="{ name: 'Podcast', params: { id: entry.slug }}">
              <img :src="entry.featured_image_url">
            </router-link>
          </figure>
          <div class="media-content">
            <div class="content">
              <router-link :to="{ name: 'Podcast', params: { id: entry.slug }}">
                <strong v-html="entry.title.rendered"></strong> <small></small>
              </router-link>
              <p v-html="entry.excerpt.rendered"></p>
            </div>
          </div>
        </template>

      </div>
    </div>

    <div class="notification" v-if="endPosts && !noResults">
      End of search results.
    </div>
    
    <div class="notification" v-else-if="!endPosts && posts.length && !noResults" v-bind:class="{ 'is-loading': loading }">
      Please scroll down for additional search results.
    </div>

  </main>
    
</template>

<script>
import { HTTP } from "./../../environment";

export default {
  name: "Search",

  data() {
    return {
      bottom: (Boolean = false),
      noResults: (Boolean = false),
      currentPage: 1,
      posts: [],
      morePosts: [],
      loading: (Boolean = false),
      endPosts: (Boolean = false)
    };
  },
  watch: {
    $route: "fetchData",
    bottom(bottom) {
      if (bottom) {
        this.addResult();
        this.loading = true;
      }
    }
  },
  created() {
    this.fetchData();
    window.addEventListener("scroll", () => {
      this.bottom = this.bottomVisible();
    });
    this.currentPage = 1;
  },
  methods: {
    fetchData() {
      this.$store.commit("imageReady");
      this.loadingImage = true;
      HTTP.get("wp-json/wp/v2/search/" + this.$route.params.term + "/1")
        .then(resp => {
          if (!resp.data.length) {
            this.noResults = true;
          }
          this.posts = resp.data;
          if (this.posts.length) {
            this.noResults = false;
          }
          if (this.posts.length < 10) {
            this.endPosts = true;
          }
          document.title = "Search Results For " + this.$route.params.term;
        })
        .catch(err => {
          console.log(err);
        });
    },
    bottomVisible() {
      const scrollY = window.scrollY;
      const visible = document.documentElement.clientHeight;
      const pageHeight = document.documentElement.scrollHeight;
      const bottomOfPage = visible + scrollY >= pageHeight;
      return bottomOfPage || pageHeight < visible;
    },
    addResult() {
      this.currentPage = parseInt(this.currentPage) + 1;
      HTTP.get(
        "wp-json/wp/v2/search/" +
          this.$route.params.term +
          "/" +
          this.currentPage
      ).then(response => {
        if (!response.data.length) {
          this.endPosts = true;
        }
        this.morePosts = response.data;
        if (this.morePosts.length < 10) {
          this.endPosts = true;
        }
        this.posts = this.posts.concat(this.morePosts);
        this.loading = false;

        if (this.bottomVisible()) {
          this.addResult();
        }
      });
    }
  }
};
</script>