<template>

  <main class="site-content podcast-archive container" v-if="episodes.length > 0" :key="'podArchive' + currentPage" v-bind:class="{ ready: loadingImage }">

    <div class="podcast-list columns is-multiline is-variable is-8">
      <div
        v-for="episode of episodes" 
        class="column is-half"
        :key="episode.slug"
      >
        <router-link :to="'/podcast/' + episode.slug">
          <div v-if="episode.message_embed != ''" class="video-message video-message-16x9">
            <div class="video-holder" v-html="episode.message_embed">
            </div>
          </div>
          <img v-else
            :src="episode.episode_graphic" 
            :alt="episode.title.rendered" 
            class="featured-image"
          />
          <h5 class="title" v-html="episode.title.rendered"></h5>
        </router-link>
        <div class="episode-meta subtitle">
          <span class="podcast-date">
            {{ episode.nice_date }}
          </span>
          <span class="podcast-series" v-for="series of episode.series" :key="series.term_id">
            <router-link :to="'/series/' + series.slug">
              {{ series.name }}
            </router-link>
          </span>
          <span class="podcast-speaker" v-for="speaker of episode.speaker" :key="speaker.term_id">
            <router-link :to="'/speaker/' + speaker.slug">
              {{ speaker.name }}
            </router-link>
          </span>
        </div> 
      </div>
    </div>

    <pagination v-if="episodes.length > 0" :firstPage="firstPage" :lastPage="lastPage" :type="'podcast'" :currentPage="currentPage" :nextPage="nextPage" :totalPages="totalPages" :prevPage="prevPage"></pagination>

  </main>
</template>

<script>
import { HTTP } from "./../../environment";

export default {
  name: "PodcastArchive",
  data() {
    return {
      episodes: [],
      loadingImage: (Boolean = false),
      totalPages: "",
      currentPage: "",
      nextPage: "",
      prevPage: "",
      lastPage: ""
    };
  },

  created() {
    this.fetchData();
  },

  watch: {
    $route: "fetchData"
  },

  methods: {
    fetchData() {
      this.$store.commit("imageNotReady");
      HTTP.get("wp-json/wp/v2/podcast?page=" + this.$route.params.id) // in this case the slug is the number of the page in our archive
        .then(resp => {
          this.episodes = resp.data;
          this.loadingImage = true;
          this.$store.commit("imageReady");
          this.totalPages = resp["headers"]["x-wp-totalpages"];

          this.currentPage = this.$route.params.id;

          if (this.currentPage == 1) {
            document.title = "Podcasts";
          } else {
            document.title = "Podcasts Page " + this.currentPage;
          }

          if (this.currentPage == this.totalPages) {
            this.lastPage = true;
          } else {
            this.lastPage = false;
          }

          if (this.currentPage == 1) {
            this.firstPage = true;
          } else {
            this.firstPage = false;
          }

          this.pageNumber = this.$route.params.id;
          this.nextPage = parseInt(this.pageNumber) + 1;
          this.prevPage = parseInt(this.pageNumber) - 1;
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>
