<template>

  <main class="site-content podcast container" v-if="episode != ''" :key="episode.id" v-bind:class="{ ready: loadingImage }">
    <div v-if="episode.message_embed != ''" class="video-message video-message-16x9">
      <div class="video-holder" v-html="episode.message_embed"></div>
    </div>
    <img v-else
      :src="episode.episode_graphic" 
      :alt="episode.title.rendered" 
      class="featured-image"
      v-on:load="displayImage"
      v-on:click="listenMP3"
    />
    <div class="columns is-variable is-8">
      <div class="column">
        <h1 class="title is-1" v-html="episode.title.rendered"></h1>
        <p class="episode-meta subtitle">
          <span class="podcast-speaker" v-for="speaker of episode.speaker" :key="speaker.term_id">
            <router-link :to="'/speaker/' + speaker.slug">
              {{ speaker.name }}
            </router-link>
          </span>
          <span class="podcast-series">
            <router-link :to="'/series/' + smallSeries.slug">
              {{ smallSeries.name }}
            </router-link>
          </span>
          <span class="podcast-date">
            {{ episode.nice_date }}
          </span>
        </p>
      </div>
      <div class="column is-narrow vertical-align-center">
        <a v-if="episode.message_notes" :href="episode.message_notes" class="button is-large is-dark is-outlined message-notes" target="_blank">Notes</a>
        <a v-on:click="listenMP3" class="button is-large is-dark is-outlined">Listen</a>
      </div>
    </div>

    <sharing></sharing>

    <div v-html="episode.content.rendered"></div>
    <div class="series-meta">
      <h4 class="title is-capitalized" v-html="smallSeries.name"></h4>
      <div class="columns is-variable is-8">
        <div class="column">
          <p v-html="smallSeries.description"></p>
        </div>
        <ul class="other-episodes column">
          <li v-for="podcast of episode.other_episodes" :key="podcast.slug">
            <router-link :to="'/podcast/' + podcast.slug" v-html="podcast.title"></router-link>
          </li>
        </ul>
      </div>
    </div>
    <div class="recent-series">
      <h4 class="title">
        Recent Series
      </h4>
      <div class="columns">
        <template v-for="series of episode.recent_series" >
          <router-link class="column" :to="'/series/' + series.series_slug" :key="series.series_slug">
            <img :src="series.series_image" :alt="series.series_title" />
          </router-link>
        </template>
      </div>
    </div>
    <comments :id="episode.id" :open="'episode.comment_status'"></comments>
  </main>
</template>
<script>
import { HTTP } from "./../../environment";

export default {
  name: "Episode",
  data() {
    return {
      episode: [],
      smallSeries: {},
      loadingImage: (Boolean = false)
    };
  },

  created() {
    this.fetchData();
  },

  watch: {
    $route: "fetchData"
  },

  methods: {
    listenMP3: function(event) {
      this.$store.commit("setPlayerMP3", this.episode.mp3);
    },
    fetchData: function() {
      HTTP.get("wp-json/wp/v2/podcast?slug=" + this.$route.params.id)
        .then(resp => {
          if (resp.data == "") {
            this.$router.push("/not-found");
          }
          this.episode = resp.data[0];
          this.smallSeries = this.episode.series[0];
          document.title = this.$parent.$options.methods.htmlDecode(
            this.episode.seo_title
          );
          document.head.querySelector(
            "meta[name=description]"
          ).content = this.$parent.$options.methods.htmlDecode(
            this.episode.description
          );
          if (this.episode.featured_image_url == null) {
            this.loadingImage = true;
            this.$store.commit("imageReady");
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    displayImage() {
      this.loadingImage = true;
      this.$store.commit("imageReady");
    }
  }
};
</script>
