<template>

    <article class="podcast-item">

        <h4 class="title is-4">
            <router-link :to="'/podcast/' + episode.slug" v-html="episode.title.rendered"></router-link>
            <div class="media-buttons is-pulled-right">
                <router-link class="button is-large is-dark is-outlined" :to="'/podcast/' + episode.slug" v-if="episode.message_embed || episode.message_video ">
                    Watch
                </router-link>
                <a v-if="episode.mp3" v-on:click="listenMP3" class="button is-large is-dark is-outlined">
                    Listen
                </a>
            </div>
        </h4>
        <div class="episode-meta subtitle">
            <span class="podcast-date">
                {{ episode.nice_date }}
            </span>
            <span class="podcast-series" v-for="series of episode.series" :key="series.term_id">
                <router-link :to="'/series/' + series.slug">
                    {{ series.name }}
                </router-link>
            </span>
            <span class="podcast-speaker" v-for="speaker of episode.speaker" :key="speaker.term_id">
                <router-link :to="'/speaker/' + speaker.slug">
                    {{ speaker.name }}
                </router-link>
            </span>
        </div> 

    </article>

</template>

<script>
export default {
  name: "PodcastItem",
  props: ["episode"],
  methods: {
    listenMP3: function(event) {
      this.$store.commit("setPlayerMP3", this.episode.mp3);
    }
  }
};
</script>
