<template>
  <main class="site-content series-archive container" v-if="series && series != ''" :key="series.id" v-bind:class="{ ready: loadingImage }">
  
    <div class="default-content content is-clearfix">

      <img 
        :src="series.series_graphic"
        :alt="series.name"
        v-on:load="displayImage"
        v-on:error="loadError"
        class="featured-image" />

      <h1 class="title is-1 is-uppercase" v-html="series.name"></h1>

      <div class="taxonomy-description" v-html="series.description"></div>

      <div class="podcast-list" v-if="episodes.length">
        <podcast-item v-for="episode of episodes" :episode="episode" :key="episode.id"></podcast-item>
      </div>
      
    </div>
    
  </main>
</template>

<script>
import { HTTP } from "./../../environment";
export default {
  name: "SeriesArchive",
  data() {
    return {
      series: {
        series_graphic: "",
        name: "",
        description: ""
      },
      episodes: [],
      loadingImage: (Boolean = false),
      imageError: (Boolean = false)
    };
  },
  created() {
    this.fetchData();
  },
  watch: {
    $route: "fetchData"
  },
  methods: {
    fetchData() {
      this.loadingImage = false;
      this.$store.commit("imageNotReady");

      HTTP.get("wp-json/wp/v2/series?slug=" + this.$route.params.id)
        .then(resp => {
          if (resp.data == "") {
            this.$router.push("/not-found");
          }
          this.series = resp.data[0];
          document.title = this.$parent.$options.methods.htmlDecode(
            this.series.name
          );

          HTTP.get(
            "wp-json/wp/v2/podcast?series=" + this.series.id + "&per_page=100"
          ).then(resp => {
            this.episodes = resp.data;
            this.loadError = true;
            this.$store.commit("imageReady");
          });
        })
        .catch(err => {
          console.log(err);
        });
    },
    displayImage() {
      this.loadingImage = true;
      this.$store.commit("imageReady");
    },
    loadError() {
      this.$store.commit("imageReady");
      this.imageError = true;
    }
  }
};
</script>
