<template>
  <main 
    class="site-content series-list" 
    v-if="page && page != ''" 
    :key="series.id" 
    v-bind:class="[
      { ready: loadingImage },
      { 'has-hero': page.include_hero }
    ]"
  >

    <template v-if="page.include_hero">
      <div class="hero main-hero" v-bind:class="[ page.hero.height,page.hero.h_alignment ]" v-bind:style="{ 'background-color': page.hero.background }">
        <div class="hero-body">
          <div class="container">
            <h1 class="title is-1" v-bind:style="{ 'color': page.hero.title_color }" v-html="page.hero.title"></h1>
            <h2 class="subtitle is-3" v-bind:style="{ 'color': page.hero.subtitle_color }"  v-html="page.hero.subtitle"></h2>
          </div>
        </div>

        <div v-if="page.hero.type == 'video'" class="video-hero">
          <video autoplay loop mute :poster="page.hero.image">
            <source :src="page.hero.mp4" type="video/mp4">
            <source :src="page.hero.webm" type="video/webm">
          </video>
        </div>

        <img
          v-on:load="displayImage" 
          :src="page.hero.image"
          class="hero-background"
          v-bind:style="{ 
            transform: 'scale('+heroZoom+')' 
          }"
        />
        <div class="hero-overlay" v-bind:style="{ opacity: page.hero.opacity, backgroundColor: page.hero.overlay }"></div>
      </div>
    </template>
  
    <div class="default-content container content is-clearfix">

      <img 
          v-if="page.featured_image_url  && !page.include_hero"
          v-on:load="displayImage" 
          v-on:error="loadError"
          v-bind:class="{ 'is-invisible': imageError }"
          class="featured-image-default" 
          v-bind:src="page.featured_image_url"
          alt="" />

      <h1 class="title is-1 entry-title" v-if="!page.include_hero" v-html="page.title.rendered"></h1>
      <div class="taxonomy-description" v-html="page.content.rendered"></div>

      <div class="podcast-list columns is-multiline">
      
        <div 
          v-for="item of series" 
          class="column is-half"
          :key="item.slug"
        >
          
          <router-link :to="'/series/' + item.slug">
            <img
              :src="item.series_graphic" 
              :alt="item.name" 
              class="featured-image"
            />
            <h4 class="title is-4" v-html="item.name"></h4>
          </router-link>

        </div>

      </div>

      <pagination v-if="( series.length ) && ( firstPage != lastPage )" :firstPage="firstPage" :lastPage="lastPage" :type="'series'" :currentPage="currentPage" :nextPage="nextPage" :totalPages="totalPages" :prevPage="prevPage"></pagination>
      
    </div>
    
  </main>
</template>

<script>
import { HTTP } from "./../../environment";
export default {
  name: "SeriesList",
  data() {
    return {
      page: {
        title: {
          rendered: ""
        },
        content: {
          rendered: ""
        }
      },
      series: [],
      loadingImage: (Boolean = false),
      imageError: (Boolean = false),
      totalPages: "",
      currentPage: "",
      nextPage: "",
      prevPage: "",
      lastPage: "",
      heroZoom: 1
    };
  },
  created() {
    this.fetchData();
    window.addEventListener("scroll", this.handleScroll);
  },
  watch: {
    $route: "fetchData"
  },
  destroyed: function() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  methods: {
    fetchData() {
      this.loadingImage = false;
      this.$store.commit("imageNotReady");

      HTTP.get("wp-json/wp/v2/pages?slug=series")
        .then(resp => {
          if (resp.data == "") {
            this.$router.push("/not-found");
          }
          this.page = resp.data[0];
          document.title = this.$parent.$options.methods.htmlDecode(
            this.page.title.rendered
          );

          HTTP.get("wp-json/wp/v2/series").then(resp => {
            this.series = resp.data;
            this.$store.commit("imageReady");
            this.totalPages = resp["headers"]["x-wp-totalpages"];

            this.currentPage = this.$route.params.id;

            if (this.currentPage == this.totalPages) {
              this.lastPage = true;
            } else {
              this.lastPage = false;
            }

            if (this.currentPage == 1) {
              this.firstPage = true;
            } else {
              this.firstPage = false;
            }

            this.pageNumber = this.$route.params.id;
            this.nextPage = parseInt(this.pageNumber) + 1;
            this.prevPage = parseInt(this.pageNumber) - 1;
          });
        })
        .catch(err => {
          console.log(err);
        });
    },
    displayImage() {
      this.loadingImage = true;
      this.$store.commit("imageReady");
    },
    loadError() {
      this.$store.commit("imageReady");
      this.imageError = true;
    },
    handleScroll: function(event) {
      let number =
        window.pageYOffset ||
        document.documentElement.scrollTop ||
        document.body.scrollTop ||
        0;
      this.heroZoom = 1 + number / 3000;
    }
  }
};
</script>
