<template>
  <main class="site-content speaker-archive container ready" v-if="speaker && speaker != ''" :key="speaker.id" >
  
    <div class="default-content content is-clearfix">

        <h1 class="title is-1 is-uppercase" v-html="speaker.name"></h1>

        <div class="taxonomy-description" v-html="speaker.description"></div>

        <div class="podcast-list" v-if="episodes.length">
          <podcast-item v-for="episode of episodes" :episode="episode" :key="episode.id"></podcast-item>
        </div>
      
    </div>
    
  </main>
</template>

<script>
import { HTTP } from "./../../environment";
export default {
  name: "SpeakerArchive",
  data() {
    return {
      speaker: {},
      episodes: [],
      loadingImage: (Boolean = false),
      imageError: (Boolean = false)
    };
  },
  created() {
    this.fetchData();
  },
  watch: {
    $route: "fetchData"
  },
  methods: {
    fetchData() {
      this.loadingImage = false;
      this.$store.commit("imageNotReady");

      HTTP.get("wp-json/wp/v2/speaker?slug=" + this.$route.params.id)
        .then(resp => {
          if (resp.data == "") {
            this.$router.push("/not-found");
          }
          this.speaker = resp.data[0];
          document.title = this.$parent.$options.methods.htmlDecode(
            this.speaker.name
          );

          HTTP.get(
            "wp-json/wp/v2/podcast?speakers=" +
              this.speaker.id +
              "&per_page=100"
          ).then(resp => {
            this.episodes = resp.data;
            this.loadError = true;
            this.$store.commit("imageReady");
          });
        })
        .catch(err => {
          console.log(err);
        });
    },
    displayImage() {
      this.loadingImage = true;
      this.$store.commit("imageReady");
    },
    loadError() {
      this.$store.commit("imageReady");
      this.imageError = true;
    }
  }
};
</script>
