// Color variables
$black: hsl(0, 0%, 4%) !default;
$black-bis: hsl(0, 0%, 7%) !default;
$black-ter: hsl(0, 0%, 14%) !default;
$grey-darker: hsl(0, 0%, 21%) !default;
$grey-dark: hsl(0, 0%, 29%) !default;
$grey: hsl(0, 0%, 48%) !default;
$grey-light: hsl(0, 0%, 71%) !default;
$grey-lighter: hsl(0, 0%, 86%) !default;
$grey-lightest: hsl(0, 0%, 95%) !default;
$white-ter: hsl(0, 0%, 96%) !default;
$white-bis: hsl(0, 0%, 98%) !default;
$white: hsl(0, 0%, 100%) !default;
$orange: hsl(14, 100%, 53%) !default;
$yellow: hsl(48, 100%, 67%) !default;
$green: hsl(141, 71%, 48%) !default;
$turquoise: hsl(171, 100%, 41%) !default;
$cyan: hsl(204, 86%, 53%) !default;
$blue: hsl(217, 71%, 53%) !default;
$purple: hsl(271, 100%, 71%) !default;
$red: hsl(348, 100%, 61%) !default;
$semi-transparent-grey: rgba(219, 219, 219, 0.5);
$mostly-opaque-white: rgba(255, 255, 255, 0.9);

// typography variables
$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif !default;
@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/_all";
@import "~bulma/sass/components/_all";
@import "~bulma/sass/grid/_all";
@import "~bulma/sass/layout/_all";

/* Layout
-------------------------------------*/

body {
  color: $black-bis;
  background-color: $grey-lightest;
}

.vertical-align-top {
  align-self: flex-start;
  display: flex;
}

.vertical-align-center {
  align-items: center;
  display: flex;
}

.vertical-align-bottom {
  align-self: flex-end;
  display: flex;
}

.is-hidden {
  display: none;
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.router-wrap {
  min-height: 80vh;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: 700;
}

.column h1,
.column h2,
.column h3,
.column h4,
.column h5,
.column h6,
.column .title {
  color: inherit;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2.25em;
}

h4 {
  font-size: 2em;
}

h5 {
 font-size: 1.5em;
}

h6 {
 font-size: 1.25em;
}

.has-builder,
.has-hero {
  margin-top: -100px;
}

a {
  color: $link;
}

a:hover,
a:visited {
  color: $link-hover;
}

.default-content p,
.column-content p {
  margin-bottom: 1em;
  color: inherit;
}

p,
.builder-rows p,
.default-content p {
  color: inherit;
}

/* Sharing
-------------------------------------*/

.social-sharing.columns {
  margin: 3em auto;
  padding: 3em 0;
  border: solid 1px rgba(0, 0, 0, 0.15);
  border-left: 0;
  border-right: 0;
}

.social-sharing h4 {
  position: relative;
  top: 7px;
}

.social-sharing svg {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #fff;
  height: 30px;
}

.social-sharing .column {
  cursor: pointer;
}

.share-intro.column {
  cursor: default;
}

.facebook-share {
  background-color: #3b5998;
}

.linkedin-share {
  background-color: #007bb6;
}

.pinterest-share {
  background-color: #cb2027;
}

.reddit-share {
  background-color: #ff4500;
}

.twitter-share {
  background-color: #00aced;
}

.whatsapp-share {
  background-color: #25d366;
}

/* Pagination
-------------------------------------*/

.pagination {
  margin: 4em 0;
  position: relative;
  padding: 2vw;
}

/* Transitions
-------------------------------------*/

.slide-enter-active {
  animation: coming 0.5s;
  animation-delay: 0.2s;
  opacity: 0;
}

.slide-leave-active {
  animation: going 0.5s;
}

.slide-enter-active .transition-positioner,
.slide-leave-active .transition-positioner {
  position: absolute;
  width: inherit;
}

@keyframes going {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100px);
    opacity: 0;
  }
}

@keyframes coming {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* Comments
-------------------------------------*/

.comments {
  margin: 1em 0;
}

.comment-list {
  border-bottom: 1px solid $semi-transparent-grey;
  padding-bottom: 1em;
  margin-bottom: 3em;
}

.comment-form .textarea:not([rows]) {
  min-height: 160px;
}

.comment-date {
  margin-left: 5px;
  padding-left: 8px;
  border-left: 1px solid $semi-transparent-grey;
}

/* Posts
-------------------------------------*/

.archive-into {
  margin-bottom: 30px;
}

p.post-meta,
.content p.post-meta {
  margin-bottom: 30px;
}

p.post-meta span {
  border-right: 1px solid $semi-transparent-grey;
  padding-right: 10px;
  margin-right: 10px;
}

p.post-meta span:last-child {
  border: none;
}

.search-holder.full-width {
  position: relative;
  bottom: auto;
  right: auto;
  background: transparent;
  padding: 0;
}

@media screen and (max-width: 1024px) {

  .default-content {
    padding-left: 5vw;
    padding-right: 5w;
  }

}

/* Podcasts
-------------------------------------*/

.podcast-list {
  margin-bottom: 2em !important;
}

.podcast-list .video-message,
.podcast-list .featured-image {
  margin-bottom: 0.5em;
}

.podcast-list .column {
  margin-bottom: 2em;
}

.video-message {
  position: relative;
  height: 0;
  overflow: hidden;
}

.video-message,
.featured-image,
.taxonomy-description {
  margin-bottom: 2em;
}

.taxonomy-description {
  padding-bottom: 2em;
  border-bottom: 1px solid $semi-transparent-grey;
}

.has-hero .taxonomy-description {
  margin-top: 5em;
}

.video-message-16x9 {
  padding-bottom: 56.25%;
}

.video-message-4x3 {
  padding-bottom: 75%;
}

.video-message iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.podcast .featured-image {
  width: 100%;
  max-width: 100%;
}

.listen-button {
  position: relative;
  top: 1rem;
}

.message-notes.button.is-outlined {
  border-color: transparent;
  margin-right: .5em;
}

.series-meta,
.recent-series {
  padding-top: 2em;
  margin-top: 5em;
  border-top: 1px solid $semi-transparent-grey;
}

.recent-series {
  margin-bottom: 3em;
}

.title:not(.is-spaced) + .subtitle.episode-meta {
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.episode-meta span {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid $semi-transparent-grey;
}

.episode-meta span:last-of-type {
  border-right: 0;
}

.speaker-archive .podcast-speaker,
.series-archive .podcast-series {
  display: none;
}

.podcast-item {
  margin-bottom: 2em;
}

/* Podcast Player
-------------------------------------*/

.audio-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $mostly-opaque-white;
  padding: 1vw;
  z-index: 1000;
}

.audio-player .playback-scale {
  position: relative;
  display: block;
  height: 10px;
  top: 10px;
  cursor: pointer;
  background-color: $black-ter;
}

.vue-sound-wrapper .columns {
  position: relative;
  top: 5px;
}

.audio-player .playback-time-indicator {
  background: $cyan;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-right: 1px solid $white;
}

.audio-player .delete {
  background-color: $black-bis;
  position: relative;
  top: -5px;
}

@media screen and (max-width: 767px) {
  
  .playback-container {
    display: none;
  }

  .audio-player .delete {
    top: -2px;
  }

  .close-player {
    text-align: right;
  }

}

/* WordPress Media
------------------------------------- */

.alignleft {
  float: left;
  margin-right: 1.5em;
}

.alignright {
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img,
video {
  height: auto;
  max-width: 100%;
}

img.alignleft,
img.alignright {
  float: none;
  margin: 0;
}

.oembed-content {
  margin-top: 2em;
  margin-bottom: 2em;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.oembed-content iframe, 
.oembed-content object, 
.oembed-content embed { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 30em) {
  img.alignleft {
    float: left;
    margin-right: 1.5em;
  }
  img.alignright {
    float: right;
    margin-left: 1.5em;
  }
}

embed,
iframe,
object {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption,
.gallery-caption {
  color: $grey-darker;
  font-size: 13px;
  font-size: 0.8125rem;
  font-style: italic;
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.content .gallery figure,
.content .gallery figure:not(:last-child) {
  margin: 0;
}

.gallery {
  margin-bottom: 1.6em;
}

.gallery-item {
  display: inline-block;
  padding: 1.79104477%;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-icon img {
  margin: 0 auto;
}

.gallery-caption {
  color: $grey-darker;
  display: block;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 0.5em 0;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}

/* Header
------------------------------------- */

header.navbar {
  margin: 0 0 100px 0;
}

.header-bar {
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 200;
  overflow: hidden;
  color: $white;
  stroke: $white;
  line-height: 1;
  background-color: rgba(30, 115, 190, 1);
}

.admin-bar .header-bar {
  top: 32px;
}

.header-bar .column {
  padding: 0;
}

.header-bar h1,
.header-bar h2,
.header-bar h3,
.header-bar h4,
.header-bar h5,
.header-bar h6 {
  color: inherit;
}

.navbar-brand .navbar-item img {
  max-height: 4rem;
}

.search-toggle {
  position: relative;
  top: 2px;
}

.search-holder {
  position: absolute;
  bottom: -60px;
  right: 0;
  background-color: $white;
  padding: 2vw;
  z-index: 20;
}

.navbar-link {
  padding-right: 1rem;
}

.navbar-link::after {
  display: none;
}

@media screen and (min-width: 1024px) {
  .navbar-dropdown {
    background-color: white;
    border-radius: 0;
    border-top: none;
    box-shadow: none;
  }
}

@media screen and (max-width: 1023px) {
  .navbar-brand {
    width: 100%;
  }
  .navbar-burger {
    margin-right: 1vw;
  }
  .navbar-menu {
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    min-height: 100vh;
    z-index: 1000;
    text-align: center;
    box-shadow: none;
    padding: 2rem;
  }
  .button.navbar-burger.is-active {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1001;
  }

}

/* Hero
------------------------------------- */

.video-hero {
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.video-hero video {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  z-index: 2;
}

.hero-background {
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 1;
}

.main-hero .container {
  position: relative;
  z-index: 3;
}

.main-hero .container h1 {
  visibility: hidden;
  opacity: 0;
}

.ready .main-hero .container h1 {
  visibility: visible;
  -webkit-animation: heroTitle 1.1s 1 ease-in;
  animation: heroTitle 1.1s 1 ease-in;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

@-webkit-keyframes heroTitle {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes heroTitle {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

.main-hero .container h2 {
  visibility: hidden;
  opacity: 0;
}

.ready .main-hero .container h2 {
  -webkit-animation: heroSubTitle 500ms 1 ease-in-out;
  animation: heroSubTitle 500ms 1 ease-in-out;
  visibility: visible;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

@-webkit-keyframes heroSubTitle {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes heroSubTitle {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.main-hero {
  overflow: hidden;
  position: relative;
}

.hero-overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100%;
}

/* Builder
------------------------------------- */

.builder-rows .columns {
  margin: 0;
}

.builder-rows .column {
  padding: 0;
}

.column-content-wrap {
  padding: .75rem;
}

.columns .column.flush-content,
.columns .column.flush-content p {
  padding: 0;
  line-height: 0;
  margin: 0;
}

.columns .column-content-wrap {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1024px) {

  .builder-rows .columns[style],
  .builder-rows .columns .column[style] {
    background-attachment: scroll !important;
  }

}

/* Newsletter
------------------------------------- */

.mailchimp-form .control.is-loading::after {
  top: 1.2em;
}

.mailchimp-box {
  color: #fff;
  background-color: #363636;
  padding: 5vw;
}

.mailchimp-box p {
  color: #fff;
}

@media screen and (max-width: 767px) {
 .mailchimp-box .columns,
 .mailchimp-box .column {
   display: block;
 }
}

@media screen and (max-width: 30em) {

  .mailchimp-box .control {
    width: 100%;
  }

}

/* Footer
------------------------------------- */

.footer {
  background-color: $grey-lighter;
}

.footer-content {
  width: 100%;
}

/* Posts
------------------------------------- */

.default-content,
.post-list {
  margin-bottom: 6em;
}

.has-hero .default-content {
  margin-top: 5em;
}

.featured-image-default {
  width: 100%;
  margin-bottom: 3em;
}

.post-item {
  margin-bottom: 3em;
}

/* Search Results
------------------------------------- */

.search-result .media-left {
  max-width: 250px;
}

.search-results .notification {
  margin-bottom: 2em;
  border: 1px solid $grey-dark;
}

.search-results .content figure:not(:last-child) {
  margin-bottom: 0;
}

.notification {
  &.is-loading {
    position: relative;
    pointer-events: none;
    opacity: 0.8;
    &:after {
      @include loader;
      position: absolute;
      top: calc(50% - 1.1em);
      right: 2em;
      width: 2em;
      height: 2em;
      border-width: 0.25em;
    }
  }
}

/* Events
------------------------------------- */

.event-header {
  background-color: rgba(0, 0, 0, 0.06);
}

.no-margin,
.no-margin.title {
  margin-bottom: 0;
}

.event-description {
  margin-bottom: 3em;
}

/* Form adjustments
------------------------------------- */

.form-holder {
  margin: 2em 0;
}

.vue-form-generator select.form-control {
  height: 2.5em;
}

fieldset {
  border: none;
}

/* Slider
------------------------------------- */

.tns-outer {
  padding: 0 !important;
  [hidden] { display: none !important; }
  [aria-controls], [data-action] { cursor: pointer; }
  &.ms-touch {
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none; // Hides the scrollbar.
    -ms-scroll-chaining: none; // Prevents Metro from swiping to the next tab or app.
    -ms-scroll-snap-type: mandatory; // Forces a snap scroll behavior on your images.
    -ms-scroll-snap-points-x: snapInterval(0%, 100%); // Defines the y and x intervals to snap to when scrolling.
  }
}
.tns-slider {
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  transition: all 0s;
  > .tns-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.tns-horizontal.tns-subpixel {
  white-space: nowrap;
  > .tns-item {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
  }
}
.tns-horizontal.tns-no-subpixel {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  > .tns-item {
    float: left;
    margin-right: -100%;
  }
}
.tns-no-calc {
  position: relative;
  left: 0;
}

.tns-gallery {
  position: relative;
  left: 0;
  min-height: 1px; // make sure slider container is visible
  // overflow: hidden;
  > .tns-item {
    position: absolute;
    left: -100%;
    -webkit-transition: transform 0s, opacity 0s;
    -moz-transition: transform 0s, opacity 0s;
    transition: transform 0s, opacity 0s;
  }
  > .tns-moving {
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
  }
}
.tns-lazy-img {
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 0.6;
  &.loaded { opacity: 1; }
}
.tns-ah {
  -webkit-transition: height 0s;
  -moz-transition: height 0s;
  transition: height 0s;
}
.tns-ovh { overflow: hidden; }
.tns-hdx { overflow-x: hidden; }
.tns-hdy { overflow-y: hidden; }
.tns-visually-hidden { position: absolute; left: -10000em; }
.tns-transparent { opacity: 0; visibility: hidden; }

.tns-fadeIn {
  opacity: 1;
  z-index: 0;
}
.tns-normal, .tns-fadeOut {
  opacity: 0;
  z-index: -1;
}

.slide {
  position: relative;
}

.slide-body {
  position: relative;
  z-index: 3;
}

.slide-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.slide-background img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
}

.hLeft {
  text-align: left;
}

.hCenter {
  text-align: center;
}

.hRight {
  text-align: right;
}
