<template>
  <div id="app" v-if="options != ''">
   <notification-bar></notification-bar>
   <app-header></app-header>
    <div class="router-wrap">
      <transition :name="transitionName" mode="out-in">
        <router-view v-bind:key="$route.params.id" :options="options" class="transition-positioner"></router-view>
      </transition>
    </div>
    <mailchimp></mailchimp>
    <app-footer></app-footer>
  </div>
</template>

<script>
import { HTTP } from "./environment";
export default {
  name: "app",
  data() {
    return {
      seen: true,
      options: {},
      user: {},
      transitionName: this.$store.state.options.transition.type
    };
  },
  created() {
    this.fetchData();
  },
  mounted() {
    // this allows us to hijack links on this domain for use with the router
    window.addEventListener("click", event => {
      const { target } = event;
      // handle only links that do not reference external resources
      if (target && this.isSameDomain(target.href) && target.href) {
        // some sanity checks taken from vue-router:
        // https://github.com/vuejs/vue-router/blob/dev/src/components/link.js#L106
        const {
          altKey,
          ctrlKey,
          metaKey,
          shiftKey,
          button,
          defaultPrevented
        } = event;
        // don't handle with control keys
        if (metaKey || altKey || ctrlKey || shiftKey) return;
        // don't handle when preventDefault called
        if (defaultPrevented) return;
        // don't handle right clicks
        if (button !== undefined && button !== 0) return;
        // don't handle if `target="_blank"`
        if (target && target.getAttribute) {
          const linkTarget = target.getAttribute("target");
          if (/\b_blank\b/i.test(linkTarget)) return;
        }
        // don't handle same page links/anchors
        const url = new URL(target.href);
        const to = url.pathname;
        if (window.location.pathname !== to && event.preventDefault) {
          event.preventDefault();
          this.$router.push(to);
        }
      }
    });
  },
  methods: {
    getHostName(url) {
      var match = url.match(/:\/\/(www[0-9]?\.)?(.[^/:]+)/i);
      if (
        match != null &&
        match.length > 2 &&
        typeof match[2] === "string" &&
        match[2].length > 0
      ) {
        return match[2];
      } else {
        return null;
      }
    },
    isSameDomain(url) {
      var hostName = this.getHostName(url);
      var domain = hostName;

      if (hostName != null) {
        var parts = hostName.split(".").reverse();

        if (parts != null && parts.length > 1) {
          domain = parts[1] + "." + parts[0];

          if (
            hostName.toLowerCase().indexOf(".co.uk") != -1 &&
            parts.length > 2
          ) {
            domain = parts[2] + "." + domain;
          }
        }
      }
      if (domain == window.location.hostname) {
        return true;
      } else {
        return false;
      }
    },
    relativizeURL(url) {
      var parser = document.createElement("a");
      parser.href = url;
      return parser.pathname;
    },
    fetchData() {
      HTTP.get("wp-json/church-app/v1/options")
        .then(resp => {
          this.options = resp.data;
          this.$store.commit("setOptions", this.options);
          this.transitionName = this.$store.state.options.transition.type;
        })
        .catch(err => {
          console.log("Options: ", err);
        });
      if (localStorage.getItem("user")) {
        this.user = JSON.parse(localStorage.getItem("user"));
        this.$store.commit("setUser", this.user);
      }
    },
    htmlDecode(input) {
      var doc = new DOMParser().parseFromString(input, "text/html");
      return doc.documentElement.textContent;
    }
  }
};
</script>